/*
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
    -fx-faint-focus-color: transparent;
}
*/
.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}